<ion-header>
  <ion-toolbar>
    <ion-title>Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-input
        label="Nombre:"
        placeholder="Escribe tu nombre"
        [(ngModel)]="nombre"
        type="text"
      ></ion-input>

      <ion-button expand="block" (click)="activarUbicacion()">Obtener ubicación</ion-button>
      <ion-button expand="block" (click)="abrirGoogle_Maps()">Ver en Google Maps</ion-button>
      <ion-button expand="block" color="success" (click)="enviarUbicacion_Firebase()">Enviar ubicación</ion-button>
      <ion-button expand="block" color="danger" (click)="desactivarUbicacion()">Desactivar ubicación</ion-button>

      <div *ngIf="latitud && longitud">
        <p>Latitud: {{ latitud }}</p>
        <p>Longitud: {{ longitud }}</p>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>